.cardItemDetail {
  border-radius: 14px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.itemDetailImg {
  width: auto;
  display: inline-flex;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.buttons {
  gap: 3px;
  display: inline-flex;
  flex-direction: column;
}
