.gridItem {
  display: flex;
  align-items: start;
  justify-content: center;
}

.cardItem {
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2),
    0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}

.itemImg {
  width: auto;
  display: inline-flex;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
